/* ==================== Fund Wallet Sec =================== */
.deposit-description {
  font-weight: 400;
  text-align: center;
  padding: 1rem;
  color: var(--pry-color);
}

.deposit-container {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 90%;
  max-width: 600px;
  margin-top: 1rem;
  display: flex;
}

.deposit-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--pry-color);
}

.deposit-container form {
  display: flex;
  flex-direction: column;
}

.deposit-container label {
  margin-bottom: 8px;
  color: var(--pry-color);
}

.deposit-container select,
.deposit-container input[type="number"],
.deposit-container input[type="email"],
.deposit-container input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: var(--pry-color);
}

.deposit-container button {
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deposit-container button:hover {
  background-color: #1d1d1d;
}

@media (max-width: 600px) {
  .deposit-container {
    padding: 15px;
  }
}

/* ======================== Btc Details ======================= */
.crypto-display {
  margin-top: 1rem;
  width: 80%;
  max-width: 500px;
  padding: 1em 1em 2em 1em;
  height: max-content;
  background: var(--bg-color);
  border-radius: 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 20px -8px #b5bdb5;
  color: var(--pry-color);
}

.crypto-display img {
  width: 150px;
  height: 150px;
}

.crypto-display {
  margin: 3rem 0;
}

.fund-description {
  margin: 0.5rem 0;
  font-weight: 400;
}

.crypto-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
}

#text-to-copy {
  border: 1px solid var(--pry-color);
  height: 35px;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: thin;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

#copy-button {
  padding: 0 5px;
  height: 35px;
  cursor: pointer;
  background-color: var(--pry-color);
  color: var(--white);
  border: 1px solid var(--pry-color);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 16px;
}

#copy-button:hover {
  background-color: #1e5724;
}

#copy-prompt {
  margin-left: 10px;
  color: green;
  font-weight: bold;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

/* ======================== Popup style ======================= */
#popup,
#confirmationPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: var(--white);
  border: 1px solid var(--pry-color);
  border-radius: 10px;
  display: none;
  z-index: 1000;
  text-align: center;
  width: 300px;
  color: var(--pry-color);
}

#popup.show,
#confirmationPopup.show {
  display: block;
}

.popup .close,
.close-popup {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.confirm-button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#confirmYes {
  background-color: #28a745;
  color: white;
}

#confirmNo {
  background-color: #dc3545;
  color: white;
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -200px;
  }

  .navigation.active {
    width: 200px;
    left: 0;
  }

  .main {
    width: 100%;
    left: 0;
    transition: 0s;
  }

  .main.active {
    left: 200px;
  }
}

@media (max-width: 480px) {
  .user {
    min-width: 40px;
  }

  .navigation {
    width: 100%;
    left: -100%;
    transition: 0.1s;
    z-index: 1000;
  }

  .navigation.active {
    width: 100%;
    left: 0;
  }

  .toggle {
    z-index: 10001;
  }

  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
    margin-top: -0.1rem;
    margin-right: 1rem;
    z-index: 10001;
  }

  .main.active {
    left: 0px;
  }

  #popup,
  #confirmationPopup {
    width: 250px;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  table,
  a,
  label {
    font-size: small;
  }
}
